@model KanatStore.UI.Models.ProductDetailViewModel
@{
    ViewBag.Title = "Xác nhận xóa";
}
<h3>Bạn chắc chắn muốn xóa nội dung này không?</h3>
<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <table>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductDetail.Name)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.ProductDetail.Name)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductDetail.Length)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.ProductDetail.Length)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductDetail.Width)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.ProductDetail.Width)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductDetail.Thickness)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.ProductDetail.Thickness)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductDetail.Origin)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.ProductDetail.Origin)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductDetail.Price)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.ProductDetail.Price)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductDetail.ImportPrice)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.ProductDetail.ImportPrice)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductDetail.Quantity)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.ProductDetail.Quantity)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductDetail.Unit)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.ProductDetail.Unit)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductDetail.Status)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.ProductDetail.Status)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductDetail.CategoryName)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.ProductDetail.CategoryName)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-8">
                @{
                    string path = "~/Images/" + Model.ProductDetail.Image;
                }
                <img src="@Url.Content(path)" width="400px" alt="ảnh" class="img-thumbnail" />
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <b>@Html.DisplayNameFor(model => model.ProductDetail.Description):</b>
        @Html.DisplayFor(model => model.ProductDetail.Description)
    </div>
    <br />
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductDetail.Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" onclick="confirmDelete()" /> |
        <a asp-action="Index">Quay lại quản lý danh mục</a>
    </form>
</div>
@section JS{
    <script type="text/javascript">
        function confirmDelete(){
            var result = confirm("Bạn chắc chắn muốn xóa?");
            if(result){
                alert("Xóa thành công!");
            }
        }
    </script>
}