@model KanatStore.UI.Models.ProductViewModel
@{
    ViewBag.Title = "Chi tiết sản phẩm";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/product.css" rel="stylesheet" />
</head>
<body>
    <h1>Chi tiết sản phẩm</h1>
    <div class="container">
        <div class="row">
        <div class="col-md-4">
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.productDetail.Name)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.productDetail.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.productDetail.Length)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.productDetail.Length)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.productDetail.Width)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.productDetail.Width)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.productDetail.Thickness)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.productDetail.Thickness)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.productDetail.Origin)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.productDetail.Origin)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.productDetail.Price)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.productDetail.Price)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.productDetail.ImportPrice)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.productDetail.ImportPrice)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.productDetail.Quantity)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.productDetail.Quantity)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.productDetail.Unit)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.productDetail.Unit)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.productDetail.Status)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.productDetail.Status)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.productDetail.Category.Name)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.productDetail.Category.Name)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-8">
            @{
                string path = "~/Images/" + Model.productDetail.Image;
             }
            <img src="@Url.Content(path)" width="400px" alt="ảnh" class="img-thumbnail"/>
        </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <b>@Html.DisplayNameFor(model => model.productDetail.Description):</b>
        @Html.DisplayFor(model => model.productDetail.Description)
    </div>
</body>
</html>
