@model KanatStore.UI.Models.CategoryViewModel;
@{
    ViewBag.Title = "Danh mục sản phẩm";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .row.heading{
            font-weight: bolder;
            background-color: rgba(0,110, 225, 0.4);
            padding:18px 0;
            margin-bottom: 25px;
            font-size: 18px;
        }
        .col-1{
            text-align: center;
        }

        .row.listcate {
            margin-top: -10px;
            margin-bottom: -10px;
            height: auto;
            padding: 20px 0px;
        }
        .row.listcate:hover{
            background-color: rgba(0,110, 225, 0.1);
        }

    </style>
</head>
<body>
    <h1>Danh sách danh mục</h1>
    <p>
        <a asp-action="Create">Tạo mới</a>
    </p>
    <hr />
    <div class="row heading">
        <div class="col-1">
            STT
        </div>
        <div class="col-3">
            @Html.DisplayNameFor(Model=>Model.categories.FirstOrDefault().Name)
        </div>
        <div class="col-7">
            @Html.DisplayNameFor(Model=>Model.categories.FirstOrDefault().Description)
        </div>
    </div>
    @{
        int i = 1;
    }
    @foreach (var item in Model.categories)
    {
        <div class="row listcate">
            <div class="col-1">
                @i
            </div>
            <div class="col-3">
                @Html.DisplayFor(ModelItem=>item.Name)
            </div>
            <div class="col-7">
                @Html.Raw(item.Description)
            </div>
            <div class="col-1">
                <a class="fas fa-fw fa-adjust" asp-action="Edit" asp-route-id="@item.Id"></a>|
                @*<a class="fas fa-fw fa-info-circle" asp-action="Details" asp-route-id="@item.Id"></a> |*@
                <a class="fas fa-fw fa-trash" asp-action="Delete" asp-route-id="@item.Id" ></a>
            </div>
        </div>
        i++;
        <hr />
    }
</body>
</html>
